.root {
  width: 500px;
  height: 600px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.round {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  margin-left: 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  height: 90%;
  margin: auto;
}
.titleInput {
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 8px;
  padding-bottom: 4px;
  font-size: 16px;
}
