#task-input {
  width: 10px;
  padding: 5px;
  transition: width 250ms ease-in-out;
  position: absolute;
  right: 18px;
  bottom: 0;
  height: 100%;
  border: 1px solid #7482d3;
  background-color: #7482d3;
  color: white;
  border-radius: 35px 12px 12px 35px;
  padding-left: 16px;
  outline: none;
  z-index: 1;
  overflow: hidden;
  font-size: 16px;
  /* display: none; */
}
#task-input::placeholder {
  color: white;
}

.expandedInput {
  display: inline-block !important;
  /* width: 440px !important; */
  width: calc(100% - 16px) !important;
  opacity: 1 !important;
}

.expandedButton {
  transform: rotate(-45deg);
  transition: all 250ms ease-in-out;
}

/* #cce8ce */
